
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-responsive table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>InvoiceNo</th>
            <th>Invoice Date</th>
            <th>Store Name</th>
            <th>Invoice Total</th>
            <th>Invoice Net</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>